.box {
    position: relative;
    border-radius: 20px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin: 20px;
    width: 190%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}


